@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

::selection {
  background: transparent;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e7e7e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: "Poppins", sans-serif;
  font-variant: small-caps;
  background-color: #181818;
  color: #e7e7e7;
}

.text {
  font-size: 3rem;
  margin-bottom: 5vh;
}

.small {
  font-size: 0.9rem;
  margin-top: 2.5vh;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.home-page {
  text-decoration: none;
  color: #e7e7e7;
  margin-top: 2.5vh;
}

.home-page:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: ease-in-out 0.25s;
}

a {
  color: #e7e7e7;
}

.projects {
  width: 100vw;
  margin-bottom: 2.5vh;
}

.projects button {
  width: 20vh;
  color: #181818;
  border: 2px solid #181818;
  border-radius: 12px;
  padding: 10px;
  margin: 0 5px 0 5px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-variant: small-caps;
  transition: ease-in-out 0.25s;
}

.projects button:hover {
  background-color: #181818;
  color: #e7e7e7;
  cursor: pointer;
  border: 2px solid #e7e7e7;
  transition: ease-in-out 0.25s;
}

.social {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.social i {
  margin: 0.5vw;
}

.social i:hover {
  cursor: pointer;
}

.fa-bounce {
  --fa-bounce-rebound: 0;
  --fa-bounce-height: -5px;
}

@media screen and (max-width: 768px) {
  .projects {
    flex-direction: column;
  }
  .projects button {
    width: 30vh;
  }
}
