@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

::selection {
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: "Poppins", sans-serif;
  font-variant: small-caps;
  background-color: #181818;
  color: #e7e7e7;
}
