@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

::selection {
  background: transparent;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e7e7e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: "Poppins", sans-serif;
  font-variant: small-caps;
  background-color: #181818;
  color: #e7e7e7;
}

.text {
  font-size: 3rem;
  margin-bottom: 5vh;
}

.small {
  font-size: 0.9rem;
  margin-top: 2.5vh;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.home-page {
  text-decoration: none;
  color: #e7e7e7;
  margin-top: 2.5vh;
}

.home-page:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: ease-in-out 0.25s;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  height: 24px;
}

.buttons button {
  width: 75px;
  height: 75px;
  background-color: #e7e7e7;
  color: #181818;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  border: none;
  border-radius: 15px;
  margin: 2px;
}

.buttons button:hover {
  cursor: pointer;
  background-color: #292929;
  color: #e7e7e7;
  border: solid 5px #181818;
  transition: ease-in-out 0.25s;
}

.buttons .double  {
  width: 150px;
}

@media screen and (max-width: 320px) {
  .buttons button {
    width: 20vw;
  }
  .buttons .double {
    width: 42vw;
  }
}
