@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

::selection {
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: "Poppins", sans-serif;
  font-variant: small-caps;
  background-color: #181818;
  color: #e7e7e7;
}

.text {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.small {
  margin-top: 20px;
  margin-bottom: 0;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  height: 24px;
}

.buttons button {
  width: 75px;
  height: 75px;
  background-color: #e7e7e7;
  color: #181818;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  border: none;
  border-radius: 15px;
  margin: 2px;
}

.buttons button:hover {
  cursor: pointer;
  background-color: #292929;
  color: #e7e7e7;
  border: solid 5px #181818;
  transition: ease-in-out 0.25s;
}
